<div class="container logins">
  <div class="row">

    <div class="col-xs-12 center">
      <h2><span class="subject">&nbsp;&nbsp;&nbsp;法専門家としてログインする&nbsp;&nbsp;&nbsp;</span></h2><br/><br/>
    </div>

    <div class="col-xs-4 col-xs-offset-4">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス, class:"col-xs-5" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-7" %>
        </div></br></br><br/>

        <div class="field">
          <%= f.label :パスワード, class:"col-xs-5" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-xs-7" %>
        </div><br/><br/>

    </div>

    <div class="col-xs-4 col-xs-offset-4 actions">
      <%= f.submit "ログインする", class: "btn btn-primary col-xs-12" %>
    </div>

      <% end %>

    <div class="col-xs-6 col-xs-offset-4  actions">
      登録がお済みでない方は、<%= link_to new_lawyer_registration_path do %><span class="each_link">こちら</span><% end %>から新規登録してください。
    </div>
  </div>
</div>
