<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4 logins">
      <h2><span class="subject">先生としてログインする</span></h2></br>
    </div>

    <div class="col-xs-4 col-xs-offset-4">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス, class:"col-xs-5" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-7" %>
        </div></br></br>

        <div class="field">
          <%= f.label :パスワード, class:"col-xs-5" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-xs-7" %>
        </div><br/><br/>

    </div>

        <div class="actions col-xs-8 col-xs-offset-4">
          <%= f.submit "ログインする", class:"btn btn-primary col-xs-6" %>
        </div>

      <% end %>
  </div><br/><br/>

  <div class="row logs-footer">
      <div class="col-xs-6 col-xs-offset-4">
        登録が済んでいない方は、<%= link_to "こちらから",new_lawyer_registration_path %>新規登録してください。
    　</div>
  </div>
</div>
