<table ~~~ class = "table text-center">

  <colgroup>
     <col style = "width:25%;">
     <col style = "width:75%;">
  </colgroup>

    <tr>
      <th>写真</th>
      <td><%= attachment_image_tag(user, :image, :fill, 200, 200, fallback: "no_image.jpg", size:'150x150') %></td>
    </tr>
  <% if lawyer_signed_in? || current_user %>
    <tr>
      <th>姓・名</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>かな</th>
      <td><%= user.name_kana %></td>
    </tr>
  <% end %>
    <tr>
      <th>表示名</th>
      <td><%= user.nickname %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
          <% if user.sex == true %>
            男性
          <% else %>
            女性
          <% end %>
      </td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= user.age %></td>
    </tr>
    <tr>
      <th>県</th>
      <td><%= user.prefecture %></td>
    </tr>
  <% if lawyer_signed_in? || current_user %>
    <tr>
      <th>市</th>
      <td><%= user.city %></td>
    </tr>
  <% end %>
</table></br>

<% if user_signed_in? %>
  <% if current_user.id == user.id %>
    <%= link_to '編集する', edit_user_path, class: "btn btn-info col-xs-12" %><br/><br/><br/><br/>
    <%= link_to '参考になった投稿を見る', references_path, class: "btn btn-success col-xs-12" %>
  <% end %>
<% end %>