<% if trues.count == 0 %>
  <div class="col-xs-12 center">
   <h2>このユーザーの相談投稿は０件です</h2>
  </div>

<% else %>

  <h3 style="text-decoration: underline"><i class="fas fa-edit"></i> 相談した件数 <%= trues.count %>件</h3></br>

  <div class="col-xs-10 col-xs-offset-1">
    <h4>ー<%= troubles.count %>件を表示中ー（投稿の新しい順）</h4>
  </div><br/>

  <table ~~~ class = "table">

    <colgroup>
       <col style = "width:30%;">
       <col style = "width:50%;">
       <col style = "width:20%;">
    </colgroup>

    <tr>
  	<th class = "text-center">カテゴリー</th>
  	<th>相談投稿</th>
    <th class = "text-center">回答数</th>
    </tr>

  <% troubles.each do |trouble| %>
    <tr>
  	<td class = "text-center">
  	  <%= trouble.category.name %>
  	</td>
  	<td>
  	  <%= link_to trouble_path(trouble) do %><span class="each_link"><%= trouble.title %></span><% end %>
  	</td>
    <td class = "text-center">
      全 <%= trouble.comments.count %> 件
    </td>
    </tr>
  <%end%>

  </table>

  <div class = "col-xs-12 center"><br/>
    <%= paginate troubles, class: "paginate" %>
  </div>

<% end %>