<% if troubles.count == 0 %>
  <h2>このユーザーの投稿は０件です</h2>

<% else %>

  <h3>相談した件数 <%= troubles.count %>件</h3></br>

  <table ~~~ class = "table">

    <colgroup>
       <col style = "width:30%;">
       <col style = "width:52%;">
       <col style = "width:18%;">
    </colgroup>

    <tr class= "tr-color">
  	<th class = "text-center">カテゴリー</th>
  	<th>相談投稿</th>
    <th class = "text-center">回答数</th>
    </tr>

  <% troubles.each do |trouble| %>
    <tr>
  	<td class = "text-center">
  	  <%= trouble.category.name %>
  	</td>
  	<td>
  	  <%= link_to trouble_path(trouble) do %><%= trouble.title.truncate(18) %><% end %>
  	</td>
    <td class = "text-center">
      全 <%= trouble.comments.count %> 件
    </td>
    </tr>
  <%end%>

  </table>

<% end %>