<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2 actions">
      <h2><span class="subject">ユーザー情報を編集する</span></h2><br/>
    </div>

    <div class="col-xs-10 col-xs-offset-3">

      <div>
        <% if @user.errors.any? %>
          <div class= "error">
            <div id="error_explanation">
              <h3>
                <%= pluralize(@user.errors.count, "error") %>
                prohibited this user from being saved:
              </h3>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= form_for(current_user) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースを入れてください）<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div></br>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="recommendation">推奨</span>（せい・めいの間に一文字スペースを入れてください）<br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana"%>
        </div></br>

        <div class="field">
          <%= f.label :このサイトで使う名前 %> <span class="required">※必須（個人を特定できない名前にしてください）</span></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname"%>
        </div></br>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, User.ages.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :県 %> <span class="required">※必須</span><br />
          <%= f.select :prefecture, User.prefectures.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :市 %> <span class="recommendation">推奨</span><br />
          <%= f.text_field :city, autofocus: true, autocomplete: "city"%>
        </div></br>

        <div class = "field">
          <%= f.label :プロフィール写真 %>
          <%= f.attachment_field :image %>
        </div></br>

        <div class="actions">
          <%= f.submit "以上の情報で更新する", class: "btn btn-info col-xs-3" %>
        </div>
      <% end %></br></br>

        <div class="actions">
          <%= link_to "パスワードを変更する", edit_user_registration_path(current_user), class: "btn btn-success col-xs-3" %><span class="col-xs-1"></span><%= link_to "退会する", user_withdraw_path(current_user), class: "btn btn-danger col-xs-1" %>
        </div></br></br></br>

        <div class="actions">
          <%= link_to "< 更新せずに戻る", user_path(current_user) %>
        </div></br></br>

    </div>
  </div>
</div>
