<table ~~~ class = "table text-center">

  <colgroup>
     <col style = "width:25%;">
     <col style = "width:75%;">
  </colgroup>

    <tr>
      <th>写真</th>
      <td><%= attachment_image_tag(lawyer, :image, :fill, 200, 200, fallback: "no_image.jpg", size:'150x150') %></td>
    </tr>
    <tr>
      <th>姓・名</th>
      <td><%= lawyer.name %></td>
    </tr>
    <tr>
      <th>かな</th>
      <td><%= lawyer.name_kana %></td>
    </tr>
    <tr>
      <th>職業</th>
      <td><%= lawyer.profession %></td>
    </tr>
    <tr>
      <th>事務所</th>
      <td><%= lawyer.office %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td>
          <% if lawyer.sex == true %>
            男性
          <% else %>
            女性
          <% end %>
      </td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= lawyer.age %></td>
    </tr>
    <tr>
      <th>都道府県</th>
      <td><%= lawyer.prefecture %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= lawyer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= lawyer.phone_number %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><%= link_to lawyer.url do %><%= lawyer.url %><% end %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td class="text-left"><%= lawyer.profile %></td>
    </tr>

</table></br>

<% if lawyer_signed_in? %>
  <% if current_lawyer.id == lawyer.id %>
    <%= link_to '編集する', edit_lawyer_path, class: "btn btn-info col-xs-12" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.chat(lawyer.id).count != 0 %>
    <% if @lawyer_ids.include?(lawyer.id) %>
      <%= link_to "直接相談する", room_path(current_user.rooms.find_by(lawyer_id: lawyer.id)), class: "btn btn-warning col-xs-12" %><br>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :lawyer_id, :value => lawyer.id %>
        <%= f.submit "直接相談する", class: "btn btn-warning col-xs-12" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>