<% if trues.count == 0 %>
  <h2>このユーザーの回答投稿は０件です</h2>

<% else %>

  <h3>回答件数 <%= trues.count %>件（"<span class="glyphicon glyphicon-thumbs-up"></span>参考になった"が<%= references %>件ついています）</h3></br>

  <table ~~~ class = "table">

    <colgroup>
       <col style = "width:20%;">
       <col style = "width:80%;">
    </colgroup>

    <tr class= "tr-color">
  	<th class = "text-center">カテゴリー</th>
  	<th>タイトル</th>
    </tr>

  <% trues.each do |comment| %>
    <tr>
  	<td class = "text-center">
      <%= comment.trouble.category.name %>
  	</td>
  	<td>
      <%= link_to trouble_path(comment.trouble_id) do%>
        <%= comment.comment.truncate(40) %>
      <% end %>
  	</td>
    </tr>
  <%end%>

  </table>

<% end %>