<div class="container yield">
  <div class="row">

    <div class="col-xs-6 col-xs-offset-3">
      <h2><span class="subject">&nbsp;&nbsp;&nbsp;ユーザー情報を編集する&nbsp;&nbsp;&nbsp;</span></h2><br/>
    </div>

    <div class="col-xs-10 col-xs-offset-3">

      <div>
        <% if @lawyer.errors.any? %>
          <div class= "error">
            <div id="error_explanation">
              <h3>
                <%= pluralize(@lawyer.errors.count, "error") %>
                prohibited this lawyer from being saved:
              </h3>
                <% @lawyer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= form_for(current_lawyer) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースをご入力願います）<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"col-xs-2"%>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="required">※必須</span>（せい・めいの間に一文字スペースをご入力願います）<br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", class:"col-xs-2"%>
        </div></br></br>

        <div class="field">
          <%= f.label :事務所の名前 %> <span class="required">※必須</span><br />
          <%= f.text_field :office, autofocus: true, autocomplete: "office", class:"col-xs-3"%>
        </div></br></br>

        <div class="field">
          <%= f.label :職業 %> <span class="required">※必須</span><br />
          <%= f.select :profession, Lawyer.professions.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, Lawyer.ages.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :郵便番号 %>（ハイフン無しで半角数字のみ、ご入力願います）<span class="required">※必須</span><br />
          <%= f.text_field :postal_code, class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :県 %> <span class="required">※必須</span><br />
          <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name %>
        </div></br>

        <div class="field">
          <%= f.label :市以下の住所 %> <span class="required">※必須</span><br />
          <%= f.text_field :address, class:"col-xs-5"%>
        </div></br></br>

        <div class = "field">
          <%= f.label :電話番号 %>（ハイフン無しで半角数字のみ、ご入力願います） <span class="recommendation">推奨</span><br/>
          <%= f.text_field :phone_number, class:"col-xs-2"%>
        </div></br><br/>

        <div class = "field">
          <label>URL</label>（http又はhttpsから始まるURLをご入力願います） <span class="recommendation">推奨</span><br/>
          <%= f.text_field :url, class:"col-xs-5" %>
        </div></br></br>

        <div class = "field">
          <%= f.label :自己紹介文 %><span class="recommendation"> 推奨</span><br/>
          <%= f.text_area :profile, size:'50x2',class:"body-text" ,placeholder: "※50文字以内で入力してください" %>
          <p class="text-count">現在の文字入力数：0文字</p>
        </div>

        <div class = "field">
          <%= f.label :プロフィール写真 %>（縦横比率が同じ画像をご準備願います）
          <%= f.attachment_field :image %>
        </div></br>

        <div class="actions">
          <%= f.submit "以上の情報で更新する", class: "btn btn-info col-xs-3" %>
        </div>
      <% end %></br></br>

        <div class="actions">
          <%= link_to "パスワードを変更する", edit_lawyer_registration_path(current_lawyer), class: "btn btn-success col-xs-3" %><span class="col-xs-1"></span><%= link_to "退会する", lawyer_withdraw_path(current_lawyer), class: "btn btn-danger col-xs-1" %>
        </div></br></br></br>

        <div class="actions">
          <%= link_to lawyer_path(current_lawyer) do %><span class="each_link">< 更新せずに戻る</span><% end %>
        </div>

    </div>
  </div>
</div>
