<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2 actions">
      <h2><span class="subject">ユーザー情報を編集する</span></h2><br/>
    </div>

    <div class="col-xs-10 col-xs-offset-3">

      <div>
        <% if @lawyer.errors.any? %>
          <div class= "error">
            <div id="error_explanation">
              <h3>
                <%= pluralize(@lawyer.errors.count, "error") %>
                prohibited this lawyer from being saved:
              </h3>
                <% @lawyer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= form_for(current_lawyer) do |f| %>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースを入れてください）<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div></br>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="required">※必須</span>（せい・めいの間に一文字スペースを入れてください）<br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana"%>
        </div></br>

        <div class="field">
          <%= f.label :事務所の名前 %> <span class="required">※必須</span><br />
          <%= f.text_field :office, autofocus: true, autocomplete: "office", class:"col-xs-3"%>
        </div></br></br>

        <div class="field">
          <%= f.label :職業 %> <span class="required">※必須</span><br />
          <%= f.select :profession, Lawyer.professions.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, Lawyer.ages.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :郵便番号 %>（ハイフン無しで数字のみ入力してください）<span class="required">※必須</span><br />
          <%= f.text_field :postal_code %>
        </div></br>

        <div class="field">
          <%= f.label :県 %> <span class="required">※必須</span><br />
          <%= f.select :prefecture, User.prefectures.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :市以下の住所 %> <span class="required">※必須</span><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"col-xs-5"%>
        </div></br></br>

        <div class = "field">
          <%= f.label :電話番号 %>（ハイフン無しで数字のみ入力してください）<span class="required">※必須</span><br/>
          <%= f.text_field :phone_number %>
        </div></br>

        <div class = "field">
          <%= f.label :自己紹介文 %><span class="recommendation"> 推奨</span><br/>
          <%= f.text_area :profile, size:'50x2',placeholder: "※50文字以内で入力してください" %>
        </div></br>

        <div class = "field">
          <%= f.label :プロフィール写真 %>
          <%= f.attachment_field :image %>
        </div></br>

        <div class="actions">
          <%= f.submit "以上の情報で更新する", class: "btn btn-info col-xs-3" %>
        </div>
      <% end %></br></br>

        <div class="actions">
          <%= link_to "パスワードを変更する", edit_lawyer_registration_path(current_lawyer), class: "btn btn-success col-xs-3" %><span class="col-xs-1"></span><%= link_to "退会する", lawyer_withdraw_path(current_lawyer), class: "btn btn-danger col-xs-1" %>
        </div></br></br></br>

        <div class="actions">
          <%= link_to "< 更新せずに戻る", lawyer_path(current_lawyer) %>
        </div></br></br>

    </div>
  </div>
</div>
