<div class = "container yield">

  <div class = "row">
  	<div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-list-alt"></i>&nbsp;&nbsp;皆の相談一覧（
      	  <% if @category != nil %>
		    <%= @category.name %>：全 <%= @category.troubles.count %> 件
		  <%else%>
				全 <%= @true_troubles.count %> 件
		  <%end%>）&nbsp;&nbsp;
	  </span></h2></br>
    </div>
  </div>
  <div class = "row">
    <div class="col-xs-8 col-xs-offset-4">
      <%= form_with( url: troubles_path, method: :get, local:true) do |f| %>
        カテゴリー別に見る➡️
        <%= f.collection_select :category_id, @true_categories, :id, :name %>
        <%= button_tag :type => "submit", class: "btn btn-primary" do %>&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;<% end %>
          <% if @category != nil %>
            <%= link_to '全ての投稿を見る', troubles_path, class: "btn btn-warning col-xs-offset-1" %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-xs10 col-xs-offset-1">
  	<h4>ー<%= @troubles.count %>件を表示中ー（新着順）</h4>
  </div>

    <table ~~~ class = "table">

      <colgroup>
         <col style = "width:7%;">
         <col style = "width:15%;">
         <col style = "width:15%;">
         <col style = "width:28%;">
         <col style = "width:28%;">
         <col style = "width:7%;">
      </colgroup>

	    <tr>
	      <th></th>
	      <th>名前</th>
		  <th>カテゴリー</th>
		  <th>タイトル</th>
		  <th>内容</th>
		  <th class="center">回答数</th>
	    </tr>
	  <% @troubles.each do |trouble| %>
	    <tr>
	      <td>
	      	<% if trouble.user.deleted_at == nil %>
	      	  <%= attachment_image_tag trouble.user, :image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
	      	<% else %>
	      	  <%= image_tag "no_image.jpg",size:"40x40" %>
	      	<% end %>
	      </td>
	      <td>
	      	<% if trouble.user.deleted_at == nil %>
	      	  <% if admin_signed_in? || lawyer_signed_in? %>
	      	    <%= link_to user_path(trouble.user) do %><span class="each_link"><%= trouble.user.nickname %></span><% end %> 様
	      	  <% else %>
	      	    <%= trouble.user.nickname %> 様
	      	  <% end %>
	      	<% else %>
	      	  退会したユーザー
	      	<% end %>
	      </td>
		  <td>
		  	<%= trouble.category.name %>
		  </td>
		  <td>
		    <%= link_to trouble_path(trouble) do %><span class="each_link"><%= trouble.title %></span><% end %>
		  </td>
		  <td>
            <%= trouble.body.truncate(20) %>
		  </td>
		  <td class="center">
		  	<%= trouble.comments.count %>件
		  </td>
	    </tr>
	  <%end%>
    </table>

	<div class = "col-xs-12 center"><br/>
	  <%= paginate @troubles, class: "paginate" %>
    </div>
</div>
