<div class = "container">
  <div class = "row">

    <div class="col-xs-6 col-xs-offset-2 actions">
      <h2><span class = "subject">相談事例</span></h2></br>
    </div>

    <div class="col-xs-6 col-xs-offset-2">
        <label class="col-xs-3">相談者の名前</label>
          <span class ="col-xs-9">
            <% if lawyer_signed_in? || admin_signed_in? %>
              <%= link_to user_path(@trouble.user) do %><%= @trouble.user.nickname %><% end %> 様
            <% else %>
              <%= @trouble.user.nickname %> 様
            <% end %>
          </span>
    </div>
    <div class="col-xs-6 col-xs-offset-2">
        <label class="col-xs-3">カテゴリー</label>
          <span class ="col-xs-9"><%= @trouble.category.name %></span>
    </div>
    <div class="col-xs-7 col-xs-offset-2">
        <% unless @trouble.image_id.nil? %>
        <label class="col-xs-12">説明写真</label>
          <span class ="col-xs-12"><%= attachment_image_tag @trouble, :image, :fill, 300, 300, size:'280x150' %></span>
        <% end %>
    </div>
    <div class="col-xs-7 col-xs-offset-2"><br/>
        <label class="col-xs-12">タイトル</label>
          <span class ="col-xs-7"><%= @trouble.title %></span>
    </div>
    <div class="col-xs-7 col-xs-offset-2"><br/>
        <label class="col-xs-12">投稿内容</label>
          <span class ="col-xs-12"><%= @trouble.body%></span>
    </div>
  </div>
</div>