<div class = "container yield">

    <div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ー&nbsp;&nbsp;&nbsp;相&nbsp;&nbsp;談&nbsp;&nbsp;内&nbsp;&nbsp;容&nbsp;&nbsp;&nbsp;ー&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></br>
    </div>

    <div class="col-xs-6 col-xs-offset-3 frame">

        <label class="col-xs-3">相談者の名前</label>
          <p class ="col-xs-9">
            <% if @trouble.user.deleted_at == nil %>
              <% if admin_signed_in? || lawyer_signed_in? %>
                <%= link_to user_path(@trouble.user) do %><span class="each_link"><%= @trouble.user.nickname %></span><% end %> 様
              <% else %>
                <%= @trouble.user.nickname %> 様
              <% end %>
            <% else %>
              退会したユーザー
            <% end %>
          </p>

        <label class="col-xs-3">カテゴリー</label>
          <p class ="col-xs-9"><%= @trouble.category.name %></p>

        <label class="col-xs-3">投稿日時</label>
          <p class ="col-xs-9"><%= @trouble.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>

      <% if @trouble.image_id != nil %>
        <label class="col-xs-12">説明写真</label>
          <span class ="col-xs-12 text-center"><%= attachment_image_tag @trouble, :image, class: "image_tag" %></span>
      <% end %>

        <label class="col-xs-12"><br/>タイトル</label>
          <span class ="col-xs-12"><%= @trouble.title %></span>

        <label class="col-xs-12"><br/>投稿内容</label>
          <span class ="col-xs-12"><%= safe_join(@trouble.body.split("\n"),tag(:br)) %></span>

      <% if admin_signed_in? %>
        <div class="right"><br/>
          <%= link_to "強制削除する", admin_trouble_path(@trouble), method: :delete, "data-confirm"  => "[要確認!!]コメントがあれば一緒に削除されてしまいます!!本当に削除しますか？", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>

    <% if lawyer_signed_in? %>
      <% if @trouble.user.deleted_at == nil %>
        <% if Comment.exists?(trouble_id: @trouble.id, lawyer_id: current_lawyer.id) %>
          <div class="col-xs-6 col-xs-offset-3 actions">
            <h4 class="required", style="text-align:center;">※既に回答して頂いているので、再度の回答はできません。</h4>
          </div>
        <% else %>
          <div class="col-xs-6 col-xs-offset-3 actions"><br/>
            <%= link_to "この相談に回答する", new_comments_path(trouble_id: @trouble.id), class:"btn btn-primary col-xs-12" %><br/>
          </div>
        <% end %>
      <% end %>
    <% end %>


    <% if @trouble.comments.count > 0 %>

      <div class="col-xs-6 comments"></div>

      <div class="col-xs-6 col-xs-offset-3 center commentitle">
        <h2 style="margin-left: 40px;"><span class="lawyer_mypage">&nbsp;&nbsp;ー&nbsp;&nbsp;&nbsp;回&nbsp;答（全&nbsp;<%= @trouble.comments.count %>&nbsp;件）ー&nbsp;&nbsp;</span></h2>
      </div>

      <% @comments.each do |comment| %>
        <div class="col-xs-6 col-xs-offset-3 frame comment">

          <label class="col-xs-3">回答者</label>
            <p class ="col-xs-9">
              <% if comment.lawyer.deleted_at == nil %>
                <% if admin_signed_in?  %>
                  <%=link_to lawyer_path(comment.lawyer_id) do %><span class="each_link"><%= comment.lawyer.name %></span><% end %> 様より
                <% elsif lawyer_signed_in? %>
                  <% if current_lawyer.id == comment.lawyer.id %>
                    <%=link_to lawyer_path(comment.lawyer_id) do %><span class="each_link"><%= comment.lawyer.name %></span><% end %> 様より
                  <% else %>
                    <%= comment.lawyer.prefecture %>の<%= comment.lawyer.profession %>の方より
                  <% end %>
                <% elsif user_signed_in? %>
                    <%=link_to lawyer_path(comment.lawyer_id) do %><span class="each_link"><%= comment.lawyer.name %></span><% end %> 様より
                <% end %>
              <% else %>
                退会したユーザー
              <% end %>
            </p>

          <label class="col-xs-3">回答日時</label>
            <p class ="col-xs-9"><%= comment.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>

          <label class="col-xs-12">回答内容</label>
            <span class ="col-xs-12"><%= safe_join(comment.comment.split("\n"),tag(:br)) %></span>

        <% if admin_signed_in? %>
          <div class="col-xs-12 right"><br/>
            <span class="glyphicon glyphicon-thumbs-up" style="color:#000000;">参考になった<%= comment.references.count %></span>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "強制削除する", admin_comment_path(comment), method: :delete, "data-confirm"  => "[要確認!!]本当に削除しますか？", class: "btn   btn-danger" %>
          </div>
        <% elsif user_signed_in? %>
          <div class="col-xs-12 right"><br/>
            <%= render 'users/references/reference', comment: comment %>
          </div>
        <% else %>
          <div class="col-xs-12 right"><br/>
            <span class="glyphicon glyphicon-thumbs-up" style="color:#000000;">参考になった<%= comment.references.count %></span>
          </div>
        <% end %>

        </div>
      <% end %>

    <% end %>

</div>