<div class="container yield">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <h2><span class="subject">&nbsp;&nbsp;&nbsp;法専門家として、新規登録する&nbsp;&nbsp;&nbsp;</span></h2><br/>
    </div>

    <div class="col-xs-10 col-xs-offset-3">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="required">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %> <span class="required">※必須</span><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :パスワード確認 %>（もう一度入力）<span class="required">※必須</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースをご入力願います）<br />
          <%= f.text_field :name, class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="required">※必須</span>（せい・めいの間に一文字スペースをご入力願います）<br />
          <%= f.text_field :name_kana, class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :事務所の名前 %> <span class="required">※必須</span><br />
          <%= f.text_field :office, class:"col-xs-3"%>
        </div></br></br>

        <div class="field">
          <%= f.label :職業 %> <span class="required">※必須</span><br />
          <%= f.select :profession, Lawyer.professions.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :性別 %> <span class="required">※必須（一度登録すると変更できませんので、よくご確認願います）</span><br />
          <%= f.select :sex,[["男性", "true"], ["女性", "false"]], :prompt => "選択" %>
        </div></br>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, Lawyer.ages.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :郵便番号 %>（ハイフン無しで数字のみ、ご入力願います）<span class="required">※必須</span><br />
          <%= f.text_field :postal_code, class:"col-xs-2" %>
        </div></br></br>

         <div class="field">
          <%= f.label :県 %> <span class="required">※必須</span><br />
          <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name ,:prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :市以下の住所 %> <span class="required">※必須</span><br />
          <%= f.text_field :address, class:"col-xs-5"%>
        </div></br></br>

        <div class = "field">
          <%= f.label :電話番号 %>（ハイフン無しで数字のみ、ご入力願います） <span class="recommendation">推奨</span><br/>
          <%= f.text_field :phone_number, class:"col-xs-2"%>
        </div></br><br/>

        <div class = "field">
          <label>URL</label>（http又はhttpsから始まるURLをご入力願います） <span class="recommendation">推奨</span><br/>
          <%= f.text_field :url, class:"col-xs-5" %>
        </div></br><br/>

        <div class="actions">
          <%= f.submit "以上の情報で登録する", class: "btn btn-info col-xs-3" %>
        </div>
      <% end %></br></br></br>

        <div class="actions">
          <%= link_to root_path do %><span class="each_link">< 登録せずに戻る</span><% end %>
        </div>

    </div>
  </div>
</div>
