<div class = "container yield">
  <div class = "row">

  	<div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;ー&nbsp;相談に回答する&nbsp;ー&nbsp;&nbsp;&nbsp;</span></h2></br>
        <div>
          <% if @comment.errors.any? %>
            <div class= "error">
              <div id="error_explanation">
                <h3>
                  <%= pluralize(@comment.errors.count, "error") %>
                  prohibited this comment from being saved:
                </h3>
                  <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <h4 class="required">※ 回答はお一人様一度限りとなりますので、ご注意願います。</h4>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <div class="field">
        <%= form_for(@comment, url: confirm_comments_path) do |f| %>
          <%= f.label :回答内容, class:"col-xs-12" %>
          <%= f.text_area :comment, class:"col-xs-12",size:'15x15',placeholder: "※2000文字以内で入力してください" %>
          <%= f.hidden_field :trouble_id %>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3"><br/>

      <div class="actions">
          <%= f.submit "回答内容を確認する", class:"btn btn-primary col-xs-12" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 content">
      <h3 style="margin-left: 40px;"><span class="user_mypage">&nbsp;&nbsp;ー&nbsp;相談内容&nbsp;ー&nbsp;&nbsp;</span></h3>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
        <label class="col-xs-3">相談者の名前</label>
          <span class ="col-xs-9">
              <%= @trouble.user.nickname %> 様
          </span>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
        <label class="col-xs-3">カテゴリー</label>
          <span class ="col-xs-9"><%= @trouble.category.name %></span>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
        <% unless @trouble.image_id.nil? %>
        <label class="col-xs-12">説明写真</label>
          <span class ="col-xs-12 text-center"><%= attachment_image_tag @trouble, :image, :fill, 600, 300, size:'600x300' %></span>
        <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-3"><br/>
        <label class="col-xs-12">タイトル</label>
          <span class ="col-xs-7"><%= @trouble.title %></span>
    </div>
    <div class="col-xs-6 col-xs-offset-3"><br/>
        <label class="col-xs-12">投稿内容</label>
          <span class ="col-xs-12"><%= safe_join(@trouble.body.split("\n"),tag(:br)) %></span>
    </div>

      

  </div>
</div>