<div class = "container yield">
  <div class = "row">

  	<div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;ー&nbsp;相談に回答する&nbsp;ー&nbsp;&nbsp;&nbsp;</span></h2></br>
        <div>
          <% if @comment.errors.any? %>
            <div class= "error">
              <div id="error_explanation">
                <h3>
                  <%= pluralize(@comment.errors.count, "error") %>
                  prohibited this comment from being saved:
                </h3>
                  <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <h4 class="required">※ 回答はお一人様一度限りとなりますので、ご注意願います。</h4>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <div class="field">
        <%= form_for(@comment, url: confirm_comments_path) do |f| %>
          <%= f.label :回答内容, class:"col-xs-12" %>
          <%= f.text_area :comment, class:"col-xs-12 body-text",size:'15x15',placeholder: "※2000文字以内で入力してください" %>
          <p class="text-count">現在の文字数：0文字</p>
          <%= f.hidden_field :trouble_id %>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">

      <div class="actions">
          <%= f.submit "回答内容を確認する", class:"btn btn-primary col-xs-12" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 content center">
      <h3 style="margin-left: 40px;"><span class="user_mypage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ー&nbsp;&nbsp;&nbsp;相&nbsp;&nbsp;談&nbsp;&nbsp;内&nbsp;&nbsp;容&nbsp;&nbsp;&nbsp;ー&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
    </div>

    <div class="col-xs-6 col-xs-offset-3 frame">

        <label class="col-xs-3">相談者の名前</label>
          <p class ="col-xs-9">
              <%= @trouble.user.nickname %> 様
          </p>

        <label class="col-xs-3">カテゴリー</label>
          <p class ="col-xs-9"><%= @trouble.category.name %></p>

        <label class="col-xs-3">投稿日時</label>
          <p class ="col-xs-9"><%= @trouble.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>

        <% if @trouble.image_id != nil %>
          <label class="col-xs-12">説明写真</label>
            <span class ="col-xs-12 text-center"><%= attachment_image_tag @trouble, :image, class: "image_tag" %></span>
        <% end %>

        <label class="col-xs-12"><br/>タイトル</label>
          <span class ="col-xs-12"><%= @trouble.title %></span>

        <label class="col-xs-12"><br/>投稿内容</label>
          <span class ="col-xs-12"><%= safe_join(@trouble.body.split("\n"),tag(:br)) %></span>

    </div>

  </div>
</div>