<div class = "container yield">

  <div class = "row">
  	<div class="col-xs-7 col-xs-offset-1">
      <h2><span class="subject">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-comments"></i>&nbsp;&nbsp;&nbsp;相談者から直接の相談一覧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>
    </div>
  </div>

  <div class="col-xs-5 col-xs-offset-1">
  	<h4><%= current_lawyer.rooms.count %>件の直接の相談があります</h4><br/>
  </div>

    <table ~~~ class = "table">

      <colgroup>
         <col style = "width:7%;">
         <col style = "width:20%;">
         <col style = "width:17%;">
         <col style = "width:30%;">
         <col style = "width:30%;">
      </colgroup>

	    <tr class= "tr-color">
	      <th>写真</th>
	      <th>表示名</th>
		  <th>姓名</th>
		  <th>メッセージ数</th>
		  <th></th>
	    </tr>
	  <% @rooms.each do |room| %>
	    <tr>
	      <td>
	      	<%= attachment_image_tag room.user, :image, :fill, 40, 40, fallback: "no_image.jpg",  size:'40x40' %>
	      </td>
	      <td>
	      	<%= link_to user_path(room.user) do %><span class="each_link"><%= room.user.nickname %></span><% end %>
	      </td>
	      <td>
	      	<%= room.user.name %> 様
	      </td>
	      <td>
	      	全<%= room.messages.count %>件あります
	      </td>
	      <td>
	      	<%= link_to 'このチャットルームへ移動する', room_path(room), class: "btn btn-warning" %>
	      </td>
	    </tr>
	  <%end%>
    </table>

	<div class = "col-xs-12"><br/>
	  <%= paginate @rooms, class: "paginate" %>
    </div>
</div>
