<div class = "container yield">
  <div class = "row">

  	<div class="col-xs-7 col-xs-offset-2">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;法専門家一覧（全 <%= @lawyer_all.count %> ユーザー）</span></h2></br>
    </div>

  </div>

  <div class = "row">

    <div class="col-xs-7 col-xs-offset-2 actions">

      <table ~~~ class = "table">

        <colgroup>
           <col style = "width:5%;">
           <col style = "width:13%;">
           <col style = "width:30%;">
           <col style = "width:15%;">
           <col style = "width:13%;">
           <col style = "width:13%;">
           <col style = "width:11%;">
        </colgroup>

  	    <tr>
  	      <th>ID</th>
  	      <th>写真</th>
  		    <th>姓名</th>
          <th>職業</th>
  		    <th>性別</th>
  		    <th>状況</th>
  		    <th></th>
  	    </tr>
  	  <% @lawyers.each do |lawyer| %>
  	    <tr>
  	      <td>
  	      	<%= lawyer.id %>
  	      </td>
  	      <td>
  	      	<%= attachment_image_tag lawyer, :image, :fill, 40, 40, fallback: "no_image.jpg",  size:'40x40' %>
  	      </td>
  	      <td>
  	      	<%= link_to lawyer_path(lawyer) do %><span class="each_link"><%= lawyer.name %></span><% end %>
  	      </td>
          <td>
            <%= lawyer.profession %>
          </td>
  		    <td>
  		  	  <% if lawyer.sex == true %>
                男性
            <% else %>
                女性
            <% end %>
  		    </td>
  		    <td>
	          <% if lawyer.deleted_at == nil %>
              有効
            <%else%>
              退会
            <%end%>
  		    </td>
  		  <td>
  		    <%= link_to '詳細', admin_lawyer_path(lawyer), class: "btn btn-success" %>
  		  </td>
  	  <%end%>
      </table>

    </div>

      <div class = "col-xs-12 col-xs-offset-3"><br/>
        <%= paginate @lawyers %>
      </div>

  </div>
</div>
