<div class = "container yield">

  <div class="row">
    <% if user_signed_in? %>
      <h2><span class="subject"><%= link_to lawyer_path(@lawyer) do %><%= @lawyer.name %><% end %> 先生（<%= @lawyer.office %>）に直接相談する</span></h2>
    <% elsif lawyer_signed_in?%>
      <h2><span class="subject"><%= link_to user_path(@user) do %><%= @user.name %><% end %>（<%= @user.nickname %>）様の相談に回答する</span></h2>
    <% end %><br/>

    <%= form_for [@room, @message] do |f| %>
      <%= f.text_area :content, class: "col-xs-9", size:'10x2' %>
      <%= f.submit "メッセージを送信", class: "btn btn-primary"%>
    <% end %>
  </div><br/><br/>

	<div class="col-xs-9">
    <% if user_signed_in? %>
      <% @messages.each do |message| %>
        <% if message.is_user == true %>
          <div class="left-message">
            <%= @user.name %> 様 : <%= message.content %>
          </div>
        <% else %>
          <div class="right-message">
            <%= message.content %> : <%= @lawyer.name %> 様
          </div>
        <% end %>
      <% end %>

    <% elsif lawyer_signed_in?%>
      <% @messages.each do |message| %>
        <% if message.is_user == true %>
          <!-- メッセージがuserによるものだったら右に寄せる -->
          <div class="right-message">
            <%= message.content %> : <%= @user.name %> 様
          </div>
        <% else %>
          <!-- メッセージがlawyerによるものだったら左に寄せる -->
          <div class="left-message">
            <%= @lawyer.name %> 様 : <%= message.content %>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>

