<div class = "container yield">
  <div class = "row">

    <div class="col-xs-12 center">
	    <h2><span class = "subject">&nbsp;&nbsp;カテゴリーを編集する&nbsp;&nbsp;</span></h2><br/>
        <h3>このカテゴリーには投稿が<%= @category.troubles.count %>件あります</h3>
          <% if @category.errors.any? %>
            <div class= "error">
              <div id="error_explanation">
                <h3>
                  <%= pluralize(@category.errors.count, "error") %>
                   prohibited this category from being saved:
                </h3>
                  <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
              </div>
            </div>
          <% end %>
    </div>

    <div class="col-xs-6 col-xs-offset-4"><br/><br/>
      <%= form_for(@category, url: admin_category_path) do |f| %>

        <div class="form">
          <%= f.label :ジャンル, class:"col-xs-3" %>
          <%= f.text_field :name %>
        </div></br>

        <div class="form">
          <%= f.label :ステータス, class:"col-xs-3" %>
            <span class= "col-xs-2">
              <%= f.radio_button :is_active, true %>
          	  <%= f.label :有効 %>
            </span>
            <span class= "col-xs-2">
          	  <%= f.radio_button :is_active, false %>
          	  <%= f.label :無効 %>
            </span>
        </div></br></br></br>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.submit "変更を保存", class: "btn btn-info col-xs-12" %>
    </div></br></br>
      <% end %></br></br>

    <div class = "col-xs-6 col-xs-offset-4"><br/><br/>
          <%= link_to "< 一覧へ戻る", admin_categories_path %>
    </div>
  </div>
</div>