<div class = "container yield">
  <div class = "row">
    <div class="col-xs-5 col-xs-offset-3">
	    <h2><span class = "subject">カテゴリーを編集する</span></h2>

        <h3>このカテゴリーには投稿が<%= @category.troubles.count %>件あります</h3>

      　<div>

          <% if @category.errors.any? %>
            <div class= "error">
              <div id="error_explanation">
                <h3>
                  <%= pluralize(@category.errors.count, "error") %>
                   prohibited this category from being saved:
                </h3>
                  <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
              </div>
            </div>
          <% end %>


          <%= form_for(@category, url: admin_category_path) do |f| %>

            <div class="form">
          	  <%= f.label :ジャンル, class:"col-xs-3" %>
          	  <%= f.text_field :name %>
            </div></br>


            <div class="form">
              <%= f.label :ステータス, class:"col-xs-3" %>
              <span class= "col-xs-2">
          	  <%= f.radio_button :is_active, true %>
          	  <%= f.label :有効 %>
              </span>
              <span class= "col-xs-2">
          	  <%= f.radio_button :is_active, false %>
          	  <%= f.label :無効 %>
              </span>
            </div></br></br></br>

            <div class = "col-xs-7 col-xs-offset-3">
          	<%= f.submit "変更を保存", class: "btn btn-info col-xs-6" %>
            </div></br></br>

          <% end %>
            </br></br>

          <%= link_to "< 一覧へ戻る", admin_categories_path %>

        </div>
    </div>
  </div>
</div>