<div class="container yield">
  <div class="row">

    <div class="col-xs-12 center">
      <h2><span class="subject">&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-up" style="color:#000000;"></span>参考になった一覧（全<%= @true_references.count %>件）</span></h2><br/>
    </div>
  </div>


  <% if @true_references.count != 0 %>

    <div class="col-xs-10 col-xs-offset-1">
        <h4>ー<%= @references.count %>件を表示中ー（<span class="glyphicon glyphicon-thumbs-up" style="color:#000000;"></span>参考になったを押した新しい順）</h4><br/>
    </div>

    <table ~~~ class = "table actions">

      <colgroup>
        <col style = "width:10%;">
        <col style = "width:15%;">
        <col style = "width:55%;">
        <col style = "width:20%;">
      </colgroup>

  	  <tr class= "tr-color">
  	    <th>写真</th>
  	    <th>名前</th>
        <th>回答内容</th>
        <th>タイトル</th>
  	  </tr>

    <% @references.each do |reference| %>
      <tr>
        <td>
          <% if reference.comment.lawyer.deleted_at == nil %>
            <%= attachment_image_tag reference.comment.lawyer, :image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></td>
          <% else %>
            <%= image_tag "no_image.jpg",size:"40x40" %>
          <% end %>
        <td>
          <% if reference.comment.lawyer.deleted_at == nil %>
            <%= link_to lawyer_path(reference.comment.lawyer.id) do %><span class="each_link"><%= reference.comment.lawyer.name %></span><% end %> 様
          <% else %>
            退会したユーザー
          <% end %>
        </td>
        <td><%= reference.comment.comment.truncate(45) %></td>
        <td><%= link_to 'この回答があるページへ', trouble_path(reference.comment.trouble_id), class: "btn btn-success"%></td>
      </tr>
    <% end %>

    </table>

    <div class = "col-xs-12 center"><br/>
      <%= paginate @references, class: "paginate" %>
    </div>


  <% else %>
    <div class="col-xs-10 col-xs-offset-1">
        <h2>"<span class="glyphicon glyphicon-thumbs-up" style="color:#000000;"></span>参考になった"は、まだありません</h2>
    </div>
  <% end %>

</div>