<div class="container office-map">
  <div class="row">
    <div class="col-xs-12 center">
      <h3><span class="lawyer_mypage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-building"></i>&nbsp;&nbsp;事務所へのアクセス&nbsp;&nbsp;<i class="fas fa-building"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
      <p>latitude <%= @lawyer.latitude %>, longitude <%= @lawyer.longitude %> </p>
    </div>
  </div>
    <div class="map">
      <div id="map"></div>
        <script>
          function initMap() {
            var office = {lat: <%= @lawyer.latitude %>, lng: <%= @lawyer.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: office
            });
            var point = new google.maps.Marker({
                position: office,
                map: map
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['DB_MAP'] %>&callback=initMap" async defer></script>
    </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <label class="col-xs-5 right">郵便番号：</label>
        <p class="col-xs-7 left">〒 <%= @lawyer.postal_code %></p>
      <label class="col-xs-5 right">事務所名：</label>
        <p class="col-xs-7 left"><%= @lawyer.office %></p>
      <label class="col-xs-5 right">住所：</label>
        <p class="col-xs-7 left"><%= @lawyer.prefecture %><%= @lawyer.address %></p>
    </div>
  </div>
</div>