<div class = "container yield">
  <div class = "row">

  	<div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;&nbsp;相談者一覧（全 <%= @user_all.count %> ユーザー）</span></h2></br>
    </div>

  </div>

  <div class = "row">

    <div class="col-xs-8 col-xs-offset-2 actions">

      <table ~~~ class = "table">

        <colgroup>
           <col style = "width:5%;">
           <col style = "width:13%;">
           <col style = "width:23%;">
           <col style = "width:23%;">
           <col style = "width:13%;">
           <col style = "width:13%;">
           <col style = "width:11%;">
        </colgroup>

  	    <tr>
  	      <th>ID</th>
  	      <th>写真</th>
  	      <th>表示名</th>
  		    <th>姓名</th>
  		    <th>性別</th>
  		    <th>状況</th>
  		    <th></th>
  	    </tr>
  	  <% @users.each do |user| %>
  	    <tr>
  	      <td>
  	      	<%= user.id %>
  	      </td>
  	      <td>
  	      	<%= attachment_image_tag user, :image, :fill, 40, 40, fallback: "no_image.jpg",  size:'40x40' %>
  	      </td>
  	      <td>
  	      	<%= link_to user_path(user) do %><span class="each_link"><%= user.nickname %></span><% end %>
  	      </td>
  		  <td>
  		  	<%= user.name %>
  		  </td>
  		  <td>
  		  	<% if user.sex == true %>
                男性
              <% else %>
                女性
              <% end %>
  		  </td>
  		  <td>
	        <% if user.deleted_at == nil %>
              有効
            <%else%>
              退会
            <%end%>
  		  </td>
  		  <td>
  		    <%= link_to '詳細', admin_user_path(user), class: "btn btn-success" %>
  		  </td>
  	  <%end%>
      </table>

    </div>


      <div class = "col-xs-12 center"><br/>
        <%= paginate @users %>
      </div>

  </div>
</div>


