<div class = "container yield">
  <div class = "row">

    <div class="col-xs-12 center">
      <h2><span class = "subject">&nbsp;&nbsp;相談者詳細&nbsp;&nbsp;</span></h2></br>
    </div>
  </div>

  <div class = "row">
    <div class="col-xs-4 col-xs-offset-4 actions">

      <table ~~~ class = "table text-center">

        <colgroup>
           <col style = "width:35%;">
           <col style = "width:65%;">
        </colgroup>

          <tr>
            <th>写真</th>
            <td><%= attachment_image_tag(@user, :image, :fill, 200, 200, fallback: "no_image.jpg", size:'150x150') %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>
              <% if @user.deleted_at == nil %>
                有効ユーザー
              <%else%>
                退会ユーザー
              <%end%>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>姓・名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>かな</th>
            <td><%= @user.name_kana %></td>
          </tr>
          <tr>
            <th>表示名</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
                <% if @user.sex == true %>
                  男性
                <% else %>
                  女性
                <% end %>
            </td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><%= @user.age %></td>
          </tr>
          <tr>
            <th>県・市町村</th>
            <td><%= @user.prefecture %> <%= @user.city %></td>
          </tr>
          <tr>
            <th>ユーザーページ</th>
            <td><%= link_to '確認する', user_path(@user) %></td>
          </tr>
      </table></br>
    </div>
  </div>

  <div class = "row">
    <div class="col-xs-4 col-xs-offset-4 actions">
      <% if @user.deleted_at == nil %>
        <%= link_to "強制退会させる", admin_user_path(@user), data: { confirm: "退会させてよろしいでしょうか?" }, method: :delete ,class: "btn btn-danger col-xs-12" %>
      <% else %>
        <%= link_to "復元させる", restore_admin_user_path(@user),data: { confirm: "復元してよろしいでしょうか?" }, method: :patch, class: "btn btn-warning col-xs-12" %>
      <% end %>
    </div>
  </div>
</div>