<header>
  <div class="container">
    <nav class="clearfix">

      <% if admin_signed_in? || lawyer_signed_in? || user_signed_in?  %>
        <span><%=link_to home_about_path do%>気軽にできる！法律相談所<% end %></span>
      <% else %>
        <span><%=link_to root_path do%>気軽にできる！法律相談所<% end %></span>
      <% end %>

      <ul class="header-links">
        <!-----管理者ログイン後----->
        <% if admin_signed_in? %>
          <li class="header-link">管理者がログイン中です</li>
          <li class="header-link"><%= link_to '先生一覧', admin_lawyers_path  %></li>
          <li class="header-link"><%= link_to '相談者一覧', admin_users_path  %></li>
          <li class="header-link"><%= link_to '相談投稿一覧', troubles_path %></li>
          <li class="header-link"><%= link_to 'コメント一覧', '' %></li>
          <li class="header-link"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
        <!-----先生ログイン後----->
        <% elsif lawyer_signed_in? %>
          <li class="header-link log-name"><%= current_lawyer.name %> 様としてログイン中</li>
          <li class="header-link"><%= link_to 'マイページ', lawyer_path(current_lawyer) %></li>
          <li class="header-link"><%= link_to '相談一覧', troubles_path %></li>
          <li class="header-link"><%= link_to 'コメント一覧', '' %></li>
          <li class="header-link"><%= link_to 'ログアウト', destroy_lawyer_session_path, method: :delete %></li>
        <!-----利用者ログイン後----->
        <% elsif user_signed_in? %>
          <li class="header-link"><%= current_user.nickname %> 様としてログイン中</li>
          <li class="header-link"><%= link_to 'マイページ', user_path(current_user) %></li>
          <li class="header-link"><%= link_to '相談する', new_trouble_path %></li>
          <li class="header-link"><%= link_to '相談一覧', troubles_path %></li>
          <li class="header-link"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <!-----その他----->
        <% else %>
          <li class="header-link"><%= link_to 'サイト説明', home_about_path %></li>
          <li class="header-link"><%= link_to '先生ログイン', new_lawyer_session_path %></li>
          <li class="header-link"><%= link_to '相談者ログイン', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>