<div class="container yield">
  <div class = "row">
    <div class="col-xs-5 col-xs-offset-3">

      <h2><span class="subject">&nbsp;&nbsp;&nbsp;パスワードを変更する&nbsp;&nbsp;&nbsp;</span></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :メールアドレス, class: "col-xs-12" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-7"  %>
          </div></br></br>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <span class="col-xs-12"><%= f.label :パスワード %> <i>(現在のパスワードを入力)</i></span>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "col-xs-7" %>
          </div>

          <div class="field">
            <span class="col-xs-12">
            <%= f.label :新しいパスワード %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上で設定をお願い致します)</em>
            <% end %>
            </span>
            <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-7" %>
          </div>

          <div class="field">
            <span class="col-xs-12"><%= f.label :新しいパスワード %> <i>(確認の為、もう一度入力)</i></span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-7" %>
          </div>
    </div>

    <div class="col-xs-2 col-xs-offset-3">

          <div class="actions">
            <%= f.submit "変更する", class: "btn btn-success" %>
          </div>

        <% end %><br/><br/>

      <%= link_to user_path(current_user) do %><span class="each_link">< 変更せずに戻る</span><% end %>

    </div>
  </div>
</div>
