<div class="container yield">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <h2><span class="subject">&nbsp;&nbsp;&nbsp;相談者として、新規登録する&nbsp;&nbsp;&nbsp;</span></h2><br/>
    </div>

    <div class="col-xs-10 col-xs-offset-3">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="required">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %> <span class="required">※必須</span><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :パスワード確認 %>（もう一度入力）<span class="required">※必須</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-xs-3" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースを入れてください）<br />
          <%= f.text_field :name, class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="required">※必須</span>（せい・めいの間に一文字スペースを入れてください）<br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :このサイトで使う名前 %> <span class="required">※必須（個人を特定できない名前にしてください）</span></br>
          <%= f.text_field :nickname, class:"col-xs-2" %>
        </div></br></br>

        <div class="field">
          <%= f.label :性別 %> <span class="required">※必須（一度登録すると変更できませんので、よくご確認ください）</span><br />
          <%= f.select :sex,[["男性", "true"], ["女性", "false"]], :prompt => "選択" %>
        </div></br>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, User.ages.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :都道府県 %> <span class="required">※必須</span><br />
          <%= f.select :prefecture, User.prefectures.keys.to_a, :prompt => "--選択--" %>
        </div></br>

        <div class="field">
          <%= f.label :市・区 %> <span class="required">※必須</span><br />
          <%= f.text_field :city, class:"col-xs-2"%>
        </div></br>

        <div class="actions">
          <%= f.submit "以上の情報で登録する", class: "btn btn-info col-xs-3" %>
        </div>

      <% end %></br></br></br>

        <div class="actions">
          <%= link_to root_path do %><span class="each_link">< 登録せずに戻る</span><% end %>
        </div>

    </div>
  </div>
</div>
