<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <h2><span class="subject">相談者として、新規登録する</span></h2>
    </div>

    <div class="col-xs-10 col-xs-offset-2">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :メールアドレス %> <span class="required">※必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %> <span class="required">※必須</span><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :パスワード確認 %>（もう一度入力）<span class="required">※必須</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :名前（姓・名） %> <span class="required">※必須</span>（姓・名の間に一文字スペースを入れてください）<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div>

        <div class="field">
          <%= f.label :名前（せい・めい） %> <span class="recommendation">推奨</span>（せい・めいの間に一文字スペースを入れてください）<br />
          <%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana"%>
        </div>

        <div class="field">
          <%= f.label :このサイトで使う名前 %> <span class="required">※必須（個人を特定できない名前にしてください）</span></br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname"%>
        </div>

        <div class="field">
          <%= f.label :性別 %> <span class="required">※必須（一度登録すると変更できませんので、よくご確認ください）</span><br />
          <%= f.select :sex,[["男性", "true"], ["女性", "false"]], :prompt => "選択" %>
        </div>

        <div class="field">
          <%= f.label :年齢 %> <span class="required">※必須</span><br />
          <%= f.select :age, User.ages, :prompt => "--選択--" %>
        </div>

        <div class="field">
          <%= f.label :県 %> <span class="required">※必須</span><br />
          <%= f.select :prefecture, User.prefectures, :prompt => "--選択--" %>
        </div>

        <div class="field">
          <%= f.label :市 %> <span class="recommendation">推奨</span><br />
          <%= f.text_field :city, autofocus: true, autocomplete: "city"%>
        </div></br>

        <div class="actions">
          <%= f.submit "登録する" %>
        </div>
      <% end %></br>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
